@import "../components/general";

#rounded-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @extend %div-schedule;
  @extend %rounded-rect;
  color: white;
}

.secondary-link {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

.secondary-link:hover {
  color: $link-hover-color;
}

table {
  margin: 0 auto;
  font-size: 18px;
  border-collapse: collapse;
  text-align: center;

  tr:not(:last-child) {
    border-bottom: 1px solid $contrast-color;
  }

  th, td {
    padding: 10px 20px;
  }
}

#schedule-main-div {
  height: auto;
  width: max-content;

  button {
    padding: 10px 30px;
    margin: 10px 0 0;
    float: right;
    @extend %rounded-rect;
    font-size: medium;
    color: $contrast-color;
  }
}
